
div {
	width: 400px;
	height: 400px;
	/*background-color: lightblue;
	border-color: peru;
	border-style: solid;
	border-width: thick;
	text-align: center;*/
	margin-left: 25%;
}
#div1{
	height:75px;
	background-color:gold;
	text-align: center;
	padding: 10px 0px;
	border: 2px solid green;
	border-bottom: 0px;
	border-width:thick;
}
#div2{
	height:300px;
	background-color: lightblue;
	text-align: center;
	border: 2px solid red;
	border-top-color: blueviolet;
	border-width:thick;
}
p {
	font-family: 楷体;
	color: red;
	font-size: 2em;
}

.error {
	color: red;
}

.right {
	color: green;
}

#account1,#password1{
	font-size:1em;
}

a:link{
	text-decoration: none;
}
